<body>

  <div class="navbar">
  <p>Simple Airbnb</p>
  <%= link_to 'Add flat', new_flat_path, class: "btn btn-primary" %>
  </div>

  <div class="container">
    <h1>All our flats</h1>

    <div class="row">
      <% @flats.each do |flat| %>
      <div class="col-4 flat-card">
        <h3>
        <%= flat.name %>
        </h3>
        <h6>
        <%= flat.address %>
        </h6>
        <%= link_to 'More info', flat_path(flat.id) %>
      </div>
      <% end %>
    </div>
  </div>
<body>
